body {
    background-color: #ffffff;
    font-family: "Droid Sans";
}

h1,h2 {
	color: #5e0000;
}

h3, h4, h5 {
    text-align: left;
}

td {
    padding-left: 15px;
    padding-right: 15px;
}

hr {
    border-style: none;
    color: #aaaaaa;
    background-color: #aaaaaa;
    height: 1px;
}

p {
    text-align: left;
}

.page {
    width: auto;
    padding-top: 100px;
    margin-left: auto;
    margin-top: auto;
    text-align: center;
}

.header {
	width: auto;
	margin-left: 50px;
	margin-right: 50px;
    text-align: center;
	color: #404040;
}

.content {
    width: auto;
    margin-left: 50px;
	margin-right: 50px;
	color: #404040;
}

#snake_board {
    width: 500px;
    height: 500px;
    border: 5px solid black;
    border-radius: 25px;
	margin-left: auto;
	margin-right: auto;
}

#asteroid_board {
    width: 500px;
    height: 500px;
    border: 5px solid black;
    border-radius: 25px;
	margin-left: auto;
	margin-right: auto;
}