body {
    font-family: "Droid Sans";
}

h1,h2 {
	color: #5e0000;
}

h3, h4, h5 {
    text-align: left;
}

td {
    padding-left: 15px;
    padding-right: 15px;
}

hr {
    border-style: none;
    color: #aaaaaa;
    background-color: #aaaaaa;
    height: 1px;
}

p {
    text-align: left;
}

.page {
    width: 1000px;
    height: 1000px;
    left: 50%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}

.content {
    margin: 30px;
    padding-top: 60px;
}

#snake_board {
    width: 500px;
    height: 500px;
    border: 5px solid #404040;
    border-radius: 25px;
	margin-left: auto;
	margin-right: auto;
}

#asteroid_board {
    width: 500px;
    height: 500px;
    border: 5px solid #404040;
    border-radius: 25px;
	margin-left: auto;
	margin-right: auto;
}