.menu {
    height: 50px;
    text-align: center;
    background-color: black;
}

.items {
    width: 1200px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Ranchers', cursive;
}

.title {
    font-size: 25px;
    color: white;
    list-style-type: none;
    margin: 5px;
    float: left;
    font-family: 'Ranchers', cursive;
}

.links {
    margin: 8px 0 8px 0;
    font-size: 20px;
    color: white;
    float: right;
    list-style-type: none;
    padding-right: 720px;
}

.link {
    font-size: 20px;
    color: white;
    float: right;
    list-style-type: none;
    margin: 0 5px 0 5px;
}

.link a:link, .link a:active, .link a:visited {
    display: block;
    text-decoration: none;
    color: white;
    padding-left: 3px;
    padding-right: 3px;
    border: 2px solid white;
    border-radius: 5px;
}

.link a:hover {
    text-decoration: none;
    display: block;
    color: inherit;
    background-color: #aaaaaa;
    padding-left: 3px;
    padding-right: 3px;
    border: 2px solid white;
    border-radius: 5px;
}

.page {
    width: 1200px;
    height: 1000px;
    left: 50%;
    margin-left: auto;
    margin-right: auto;
}

.content {
    padding-top: 60px;
}

.description {
    margin-top: 40px;
}

.box {
    margin-top: 35px;
    margin-bottom: 25px;
}

.source {
    font-family: "Droid Sans Mono";
    font-size: 13px;
}

#snake_board {
    width: 500px;
    height: 500px;
    border: 5px solid #404040;
    border-radius: 25px;
	margin-left: auto;
	margin-right: auto;
}

#asteroid_board {
    width: 500px;
    height: 500px;
    border: 5px solid #404040;
    border-radius: 25px;
	margin-left: auto;
	margin-right: auto;
}