<div class="content">
    <div class="tabbable tab-below">
        <ul class="nav nav-pills">
            <li ng-class="{active: selectedTab == 0}">
                <a href="#/experience" ng-click="selectedTab = 0;">Francais</a>
            </li>
            <li ng-class="{active: selectedTab == 1}">
                <a href="#/experience" ng-click="selectedTab = 1;">English</a>
            </li>
        </ul>

        <div ng-show="selectedTab == 0">
            <h3>Expérience en compagnie</h3>

            <ul>
                <li>
                    <h4>Développeur web "full-stack" - Benz-Info Solutions, été 2014</h4>
                    <ul>
                        <li>
                            <p>Gestion de base de donnée SQL Access</p>
                        </li>
                        <li>
                            <p>Serveur Microsoft .Net</p>
                        </li>
                        <li>
                            <p>Front-end AngularJS</p>
                        </li>
                    </ul>
                </li>
            </ul>

            <br>

            <h3>Implication Étudiante</h3>

            <ul>
                <li>
                    <h4>Poly-Orbite, CSDC</h4>
                    <ul>
                        <li>
                            <p>Équipe mission - Caméra, compression d'image, automne 2013 et hiver 2014</p>
                        </li>
                        <li>
                            <p>Équipe gestion des données - Automne 2014 à ajourd'hui</p>
                        </li>
                        <li>
                            <p>SpaceApps Challenge - Planétarium Rio-Tinto, challenge Alert Alert!, hiver 2014</p>
                        </li>
                    </ul>
                </li>

                <li>
                    <h4>Poly-Hack</h4>
                    <ul>
                        <li>
                            <p>Rencontres hebdomadaires, Montréhack, hiver 2015</p>
                        </li>
                    </ul>
                </li>


                <li>
                    <h4>Gala-Méritas</h4>
                    <ul>
                        <li>
                            <p>VP-Code, responsable de la réécriture du site web pour voter, automne 2014 et hiver 2015</p>
                        </li>
                        <li>
                            <p>MEAN.js - MangoDB, ExpressJS, AngularJS, Node.js</p>
                        </li>
                    </ul>
                </li>

                <li>
                    <h4>Great Canadian Appathon (GCA)</h4>
                    <ul>
                        <li>
                            <p>Platformer 2D, XNA Framework (C#), automne 2012, <a href="https://www.youtube.com/watch?v=kD5qyUW4a7s">Video</a></p>
                        </li>
                        <li>
                            <p>Création des niveaux, map editor, design</p>
                        </li>
                        <li>
                            <p>Top 10 au Canada (149 équipes), gagnants d'une XBox</p>
                        </li>
                    </ul>
                </li>
            </ul>

            <br>

            <h3>Intérêts Personnels</h3>

            <ul>
                <li>
                    <h4>Linux</h4>
                    <ul>
                        <li>
                            <p>Utilisation personnelle de plusieurs distributions: Ubuntu, Debian, Arch</p>
                        </li>
                        <li>
                            <p>Très bonne connaissance des lignes de commande, connaissances de base en scripting bash</p>
                        </li>
                        <li>
                            <p>Bonnes connaissances de git, svn, ssh</p>
                        </li>
                        <li>
                            <p>Fréquentation quotidienne de forums et d'IRC linux depuis plusieurs années - lkml.org, bbs.archlinux.org, #archlinux, reddit.com</p>
                        </li>
                    </ul>
                </li>

                <li>
                    <h4>Ce site web</h4>
                    <ul>
                        <li>
                            <p>Projet Euler, petits jeux 2D</p>
                        </li>
                        <li>
                            <p>Hébergé sur github pages</p>
                        </li>
                        <li>
                            <p>AngularJS, Bootstrap, Google Fonts</p>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>

        <div ng-show="selectedTab == 1">
            <h3>Expérience en compagnie</h3>

            <ul>
                <li>
                    <h4>Développeur web "full-stack" - Benz-Info Solutions, été 2014</h4>
                    <ul>
                        <li>
                            <p>Gestion de base de donnée SQL Access</p>
                        </li>
                        <li>
                            <p>Serveur Microsoft .Net</p>
                        </li>
                        <li>
                            <p>Front-end AngularJS</p>
                        </li>
                    </ul>
                </li>
            </ul>

            <br>

            <h3>Implication Étudiante</h3>

            <ul>
                <li>
                    <h4>Poly-Orbite, CSDC</h4>
                    <ul>
                        <li>
                            <p>Équipe mission - Caméra, compression d'image, automne 2013 et hiver 2014</p>
                        </li>
                        <li>
                            <p>Équipe gestion des données - Automne 2014 à ajourd'hui</p>
                        </li>
                        <li>
                            <p>SpaceApps Challenge - Planétarium Rio-Tinto, challenge Alert Alert!, hiver 2014</p>
                        </li>
                    </ul>
                </li>

                <li>
                    <h4>Poly-Hack</h4>
                    <ul>
                        <li>
                            <p>Rencontres hebdomadaires, Montréhack, hiver 2015</p>
                        </li>
                    </ul>
                </li>


                <li>
                    <h4>Gala-Méritas</h4>
                    <ul>
                        <li>
                            <p>VP-Code, responsable de la réécriture du site web pour voter, automne 2014 et hiver 2015</p>
                        </li>
                        <li>
                            <p>MEAN.js - MangoDB, ExpressJS, AngularJS, Node.js</p>
                        </li>
                    </ul>
                </li>

                <li>
                    <h4>Great Canadian Appathon (GCA)</h4>
                    <ul>
                        <li>
                            <p>Platformer 2D, XNA Framework (C#), automne 2012, <a href="https://www.youtube.com/watch?v=kD5qyUW4a7s">Video</a></p>
                        </li>
                        <li>
                            <p>Création des niveaux, map editor, design</p>
                        </li>
                        <li>
                            <p>Top 10 au Canada (149 équipes), gagnants d'une XBox</p>
                        </li>
                    </ul>
                </li>
            </ul>

            <br>

            <h3>Intérêts Personnels</h3>

            <ul>
                <li>
                    <h4>Linux</h4>
                    <ul>
                        <li>
                            <p>Utilisation personnelle de plusieurs distributions: Ubuntu, Debian, Arch</p>
                        </li>
                        <li>
                            <p>Très bonne connaissance des lignes de commande, connaissances de base en scripting bash</p>
                        </li>
                        <li>
                            <p>Bonnes connaissances de git, svn, ssh</p>
                        </li>
                        <li>
                            <p>Fréquentation quotidienne de forums et d'IRC linux depuis plusieurs années - lkml.org, bbs.archlinux.org, #archlinux, reddit.com</p>
                        </li>
                    </ul>
                </li>

                <li>
                    <h4>Ce site web</h4>
                    <ul>
                        <li>
                            <p>Projet Euler, petits jeux 2D</p>
                        </li>
                        <li>
                            <p>Hébergé sur github pages</p>
                        </li>
                        <li>
                            <p>AngularJS, Bootstrap, Google Fonts</p>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

</div>
