<div class="content">
    <div class="tabbable tab-below">
        <ul class="nav nav-pills">
            <li ng-class="{active: selectedTab == 1}">
                <a href="#/experience" ng-click="selectedTab = 1;">English</a>
            </li>
            <li ng-class="{active: selectedTab == 0}">
                <a href="#/experience" ng-click="selectedTab = 0;">Francais</a>
            </li>
        </ul>

        <div ng-show="selectedTab == 0">
            <h3>Expérience en compagnie</h3>

            <ul>
                <li>
                    <h4>Développeur web "full-stack" - Benz-Info Solutions, été 2014</h4>
                    <ul>
                        <li>
                            <p>Gestion de base de donnée multilingue SQL Access</p>
                        </li>
                        <li>
                            <p>Serveur Microsoft .Net</p>
                        </li>
                        <li>
                            <p>Front-end AngularJS</p>
                        </li>
                    </ul>
                </li>
            </ul>

            <br>

            <h3>Implication Étudiante</h3>

            <ul>
                <li>
                    <h4>Poly-Orbite, CSDC</h4>
                    <ul>
                        <li>
                            <p>Équipe mission - Caméra, compression d'image (libjpeg), automne 2013 et hiver 2014</p>
                        </li>
                        <li>
                            <p>Équipe gestion des données - automne 2014 à ajourd'hui</p>
                        </li>
                        <li>
                            <p>SpaceApps Challenge - Planétarium Rio Tinto Alcan, challenge Alert Alert!, hiver 2014</p>
                        </li>
                    </ul>
                </li>

                <li>
                    <h4>Poly-Hack</h4>
                    <ul>
                        <li>
                            <p>Rencontres hebdomadaires, Montréhack, hiver 2015</p>
                        </li>
                    </ul>
                </li>


                <li>
                    <h4>Gala-Méritas</h4>
                    <ul>
                        <li>
                            <p>VP-Code, responsable de la réécriture du site web pour voter, automne 2014 à aujourd'hui</p>
                        </li>
                        <li>
                            <p>MEAN.js - MangoDB, ExpressJS, AngularJS, Node.js</p>
                        </li>
                    </ul>
                </li>

                <li>
                    <h4>Great Canadian Appathon (GCA)</h4>
                    <ul>
                        <li>
                            <p>Platformer 2D pour telephone Windows, XNA Framework (C#), automne 2012, <a href="https://www.youtube.com/watch?v=kD5qyUW4a7s">Video</a></p>
                        </li>
                        <li>
                            <p>Création des niveaux, map editor, design</p>
                        </li>
                        <li>
                            <p>Top 10 au Canada (149 équipes), gagnants d'une XBox</p>
                        </li>
                    </ul>
                </li>
            </ul>

            <br>

            <h3>Intérêts Personnels</h3>

            <ul>
                <li>
                    <h4>Linux</h4>
                    <ul>
                        <li>
                            <p>Utilisation personnelle de plusieurs distributions: Ubuntu, Debian, Arch</p>
                        </li>
                        <li>
                            <p>Très bonne connaissance des lignes de commande, connaissances de base en scripting bash</p>
                        </li>
                        <li>
                            <p>Bonnes connaissances de git, svn, ssh</p>
                        </li>
                        <li>
                            <p>Participation quotidienne de forums et d'IRC linux depuis plusieurs années - lkml.org, bbs.archlinux.org, #archlinux</p>
                        </li>
                    </ul>
                </li>

                <li>
                    <h4>Ce site web</h4>
                    <ul>
                        <li>
                            <p>Projet Euler, petits jeux 2D</p>
                        </li>
                        <li>
                            <p>Hébergé sur github pages</p>
                        </li>
                        <li>
                            <p>AngularJS, Bootstrap, Google Fonts</p>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>

        <div ng-show="selectedTab == 1">
            <h3>Company Experience</h3>

            <ul>
                <li>
                    <h4>Full stack web developper - Benz-Info Solutions, Summer 2014</h4>
                    <ul>
                        <li>
                            <p>SQL Access multilingual database management</p>
                        </li>
                        <li>
                            <p>Microsoft .Net Server</p>
                        </li>
                        <li>
                            <p>AngularJS Front-End</p>
                        </li>
                    </ul>
                </li>
            </ul>

            <br>

            <h3>Student Involvement</h3>

            <ul>
                <li>
                    <h4>Poly-Orbite, CSDC</h4>
                    <ul>
                        <li>
                            <p>Team Mission - Camera, image compression (libjpeg), Fall 2013 and Winter 2014</p>
                        </li>
                        <li>
                            <p>Team Data Handling - Fall 2014 until now</p>
                        </li>
                        <li>
                            <p>SpaceApps Challenge - Rio Tinto Alcan planetarium, Alert Alert! challenge, Winter 2014</p>
                        </li>
                    </ul>
                </li>

                <li>
                    <h4>Poly-Hack</h4>
                    <ul>
                        <li>
                            <p>Weekly meetings, Montréhack, Winter 2015</p>
                        </li>
                    </ul>
                </li>


                <li>
                    <h4>Gala-Méritas</h4>
                    <ul>
                        <li>
                            <p>VP-Code, reponsible for re-writing the voting website, Fall 2014 until now</p>
                        </li>
                        <li>
                            <p>MEAN.js - MangoDB, ExpressJS, AngularJS, Node.js</p>
                        </li>
                    </ul>
                </li>

                <li>
                    <h4>Great Canadian Appathon (GCA)</h4>
                    <ul>
                        <li>
                            <p>2D Platformer for Windows phone, XNA Framework (C#), Fall 2012, <a href="https://www.youtube.com/watch?v=kD5qyUW4a7s">Video</a></p>
                        </li>
                        <li>
                            <p>Level creation, map editor, level design</p>
                        </li>
                        <li>
                            <p>Top 10 (149 teams across Canada), XBox prize</p>
                        </li>
                    </ul>
                </li>
            </ul>

            <br>

            <h3>Personnal Interests</h3>

            <ul>
                <li>
                    <h4>Linux</h4>
                    <ul>
                        <li>
                            <p>Personal usage of many distributions including Ubuntu, Debian and Arch</p>
                        </li>
                        <li>
                            <p>Very good knowledge of command-line tools, decent knowledge of bash scripting</p>
                        </li>
                        <li>
                            <p>Good knowledge of git, svn, ssh</p>
                        </li>
                        <li>
                            <p>Daily participation in linux forums and IRC channels for multiple years time - lkml.org, bbs.archlinux.org, #archlinux</p>
                        </li>
                    </ul>
                </li>

                <li>
                    <h4>This website</h4>
                    <ul>
                        <li>
                            <p>Projet Euler, small 2D games</p>
                        </li>
                        <li>
                            <p>Hosted on github pages</p>
                        </li>
                        <li>
                            <p>AngularJS, Bootstrap, Google Fonts</p>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

</div>
