<div class="content">
    <h3>Games</h3>
    <p>
        A while ago, I decided to try my hand at writing simple 2D games using Javascript and an HTML5 canvas. What
        came out of it was posted here for you to play! These games are not 100% finished and will probably never be,
        it's hard just to keep track of everything I've been thinking I could add.
    </p>

    <br/>

    <div style="overflow: auto; position: relative;">
        <img src="modules/games/images/snake_preview.png" style="float: left; width: 200px; height: 200px;">
        <div style="float: left; margin-left: 15px;">
            <h3>Snake</h3>
            <p>Classic snake game, control it with the arrow keys or try HJKL and learn vim while playing!</p>
            <button class="btn btn-primary" style="position: absolute; bottom: 20px;" ng-click="actions.openSnake()">Play <span class="glyphicon glyphicon-play"></span> </button>
        </div>
    </div>

    <hr>

    <div style="overflow: auto; position: relative;">
        <img src="modules/games/images/asteroid_preview.png" style="float: left; width: 200px; height: 200px;">
        <div style="float: left; margin-left: 15px;">
            <h3>Asteroid</h3>
            <p>Shoot up asteroids, get better weapons and survive as long as you can!</p>
            <button class="btn btn-primary" style="position: absolute; bottom: 20px;" ng-click="actions.openAsteroid()">Play <span class="glyphicon glyphicon-play"></span> </button>
        </div>
    </div>
</div>